/*///////////////BODY///////////////*/
/* line 3, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  /*para que el texto no sobrepase el cuadro o elemento que lo contiene*/
}

/* line 9, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
.banner-up {
  background: #293462;
}

/* line 13, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
.logo-item {
  padding-top: 20px;
  max-width: 300px;
  max-height: 300px;
}

/* line 19, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
.encabezado {
  background: #293462;
}

/* line 23, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
.subtitulos {
  color: #EA5455;
}

/*///////////////MENU///////////////*/
/* line 28, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
.navbar {
  background: #293462;
}

/* line 32, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
#menu a {
  font-size: 18;
  font-weight: bold;
}

/* line 37, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
#menu li > a:hover {
  color: #1CD6CE;
}

/*///////////////MENU///////////////*/
/* line 43, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
#menu a {
  font-size: 18;
  font-weight: bold;
}

/* line 48, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
.img-pandora {
  width: 250px;
}

/* line 52, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
.pandora-checked {
  color: #18d218;
}

/* line 56, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
.pandora-nonchecked {
  color: #EA5455;
}

/* line 60, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
footer {
  background-color: #293462;
  color: white;
}

/* line 65, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
ul {
  list-style: none;
}

/* line 70, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
.bi-facebook, .bi-instagram, .bi-twitter-x {
  font-size: 30px;
  color: #1CD6CE;
}

/*====================MEDIA QUERIESPANTALLA mediana===================*/
/*====================MEDIA QUERIESPANTALLA SM===================*/
@media (max-width: 768px) {
  /* line 82, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
  #intro, #novedades {
    width: 90% !important;
  }
  /* line 86, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
  .frase {
    text-align: center;
    font-size: 12px !important;
  }
  /* line 91, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
  #novedades p {
    display: none;
  }
  /* line 95, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
  .servicio-fila {
    width: 100% !important;
    text-align: center;
  }
}

/*====================MEDIA QUERIESPANTALLA EXTRA SM===================*/
@media (max-width: 576px) {
  /* line 107, ../../../../../../../../../../../../../Users/diegoramirez/Documents/coder-entrega2/coder-entrega2/sass/styles-novedades.scss */
  .icono-wrap {
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center !important;
  }
}

/*# sourceMappingURL=styles-novedades.css.map */