body{
    font-family: 'Montserrat', sans-serif;
   
    overflow-x: hidden; /*para que el texto no sobrepase el cuadro o elemento que lo contiene*/
}

.banner-up{
    background: #293462;
}

.logo-item{   
    padding-top: 20px;
    max-width: 300px;
    max-height: 300px;
}

.encabezado{
    background: #293462;
}

.subtitulos{
    color: #EA5455;
}
/*///////////////MENU///////////////*/

.navbar{
    background: #293462;
}

#menu a{
    font-size: 18;
    font-weight: bold;    
}

#menu li > a:hover{
    color: #1CD6CE;
}


/*///////////////MENU///////////////*/
#menu a{
    font-size: 18;
    font-weight: bold;    
}

footer{
    background-color: #293462;
    color: white;
}

ul{
    list-style: none;
}


.bi-facebook, .bi-instagram, .bi-twitter-x{
    font-size: 30px;
    color: #1CD6CE;
}

/*====================MEDIA QUERIESPANTALLA SM===================*/
@media (max-width:768px){
    #intro{
        width: 90% !important;
    }

    .frase{
        text-align: center;
        font-size: 12px !important;
    }

    .seccion{
        flex-wrap: wrap;
        width: 90% !important;
    }
}